
    <div class="c-cars">
        <div class="o-banner">
            <img data-srcset="<%=require("./img/cars/maluch.webp")%> 1x, 
                         <%=require("./img/cars/maluch@2x.webp")%> 2x" data-src=<%=require("./img/cars/maluch.webp") %> 
                         class="lazy" width="1440" height="517" alt="maluch">
        </div>

        <article class="o-article js-fadeInChildren">
            <h2>22 września 2000 ostatni maluch zjechał z&nbsp;taśm produkcyjnych. Ikona gospodarki, element polskiego krajobrazu, towarzysz Polaków i&nbsp;bohater kultury masowej.</h2>

            <h3>Fenomen marki Polski Fiat 126p rodzi 3&nbsp;pytania, na które będziemy szukać odpowiedzi w&nbsp;naszym projekcie.</h3>
            
            <ul>
                <li>Co właściwie definiuje polskość marek?</li>
                <li>Które z&nbsp;polskich marek są tymi najważniejszymi?</li>
                <li>Co jest źródłem sukcesów polskich marek-ikon?</li>
            </ul>
        </article>
    </div>
