
    <div class="c-harmonogram" id="harmonogram">
        <div class="o-banner">
            <img data-srcset="<%=require("./img/harmonogram/people.webp")%> 1x, 
                         <%=require("./img/harmonogram/people@2x.webp")%> 2x" data-src=<%=require("./img/harmonogram/people.webp") %> 
                         class="lazy" width="1440" height="517" alt="people">
        </div>
        
        <div class="o-wrap js-fadeInChildren">
            <h2>Dzień 1</h2>
            
            <div class="o-cols js-day">
                <div class="o-article js-fadeInChildren">
                    <h3>Koncepcja marki w&nbsp;polskich warunkach.</h3>

                    <ul>
                        <li>Jak zbudować markę ikonę?</li>
                        <li>Prowadzący: Bartek Kotowicz</li>
                    </ul>
                    
                    <div class="o-agenda js-showAgenda">Agenda</div>
                </div>

                <div class="o-article js-fadeInChildren">
                    <p>Kogo i&nbsp;dlaczego powinien obchodzić branding?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Dlaczego twoja organizacja, usługa lub produkt potrzebuje marki?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Jakimi sposobami najbardziej rozpoznawalne, polskie marki utkwiły w&nbsp;masowej pamięci? Co zadecydowało o&nbsp;ich powodzeniu?</p>

                    <p>&nbsp;</p>

                    <p>Jak nie popaść w&nbsp;pułapkę niezrealizowanej obietnicy?</p>
                </div>
                
                <div class="o-article js-fadeInChildren">
                    <p>Jak wyciągnąć kwintesencje z&nbsp;marki i&nbsp;ją zakomunikować światu?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Różnica między marką-dobrą a&nbsp;marką-ikoną. </p>
                    
                    <p>&nbsp;</p>
                    
                    <p>10 polskich ikon-marek wg Bartka Kotowicza. Czego uczą współczesnych marketerów?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Budowanie marki w&nbsp;pojedynkę czy zespołowo. Za ile branding w Polsce? Jak długo trzeba czekać na efekty brandingu? Czyli garść praktycznych porad związanych z&nbsp;procesem budowy marki.</p>
                </div>
            </div>
            
            <h2>Dzień 2</h2>
            
            <div class="o-cols js-day">
                <div class="o-article js-fadeInChildren">
                    <h3>Komunikacja wizualna marki w&nbsp;polskich warunkach.</h3>

                    <ul>
                        <li>Jak zaprojektować markę ikonę?</li>
                        <li>Prowadzący: Patryk Hardziej</li>
                    </ul>
                    
                    <div class="o-agenda js-showAgenda">Agenda</div>
                </div>
                
                <div class="o-article js-fadeInChildren">
                    <p>Kogo i dlaczego powinna obchodzić komunikacja wizualna?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Dlaczego zły design szkodzi Twojej marce?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Dlaczego Twoja marka potrzebuje logo?</p>

                    <p>&nbsp;</p>

                    <p>Znaczenie logo w&nbsp;XX oraz XXI&nbsp;wieku w&nbsp;Polsce. Praktyczna analiza porównawcza. Czy logo wciąż pozostaje najważniejsze?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Abstrakcyjne, dosłowne czy liternicze? Jaki rodzaj logo sprawdzi się w&nbsp;Polsce?</p>
                </div>
                
                <div class="o-article js-fadeInChildren">
                    <p>System identyfikacji wizualnej. Kluczowe komponenty. Czego nie może zabraknąć?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>10 ikonicznych znaków polskich marek wg Patryka Hardziej polskich marek. Czego uczą współczesnych marketerów?</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Podstawy komunikacji wizualnej w&nbsp;oparciu o najlepsze polskie projekty brandingowe (dobór kolorów, typografia, skład, światło, wyrównanie, hierarchia treści, kontrast, czytelność).</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>Wielcy projektanci vs współcześni projektanci. Co się zmieniło? Jak wybrać dobrych projektantów do współpracy? Jak z&nbsp;nimi współpracować? Jak wygląda współpraca nad brandingiem? </p>
                </div>
            </div>
        </div>
    </div>
