
    <div class="c-meta js-meta">
        <% include topbar %>    
        
        <div class="c-meta__authors js-meta__authors">
            <ul class="o-wrap--narrow">
                <li>
                    <p>Autor projektu </p>
                    <img src=<%= require("./img/logotypes/bartek-kotowicz.svg") %> 
                         width="222" height="28" alt="bartek kotowicz" />
                </li>
                
                <li>
                    <p>Współautor</p>
                    <img src=<%= require("./img/logotypes/hardziej-studio.svg") %> 
                         width="269" height="64" alt="hardziej studio" />
                </li>
                
                <li>
                    <p>Organizator</p>
                    <img src=<%= require("./img/logotypes/ibra.svg") %> 
                         width="150" height="45" alt="ibra" />
                </li>
            </ul>                
        </div>
    </div>
