
                <nav class="c-nav js-nav">
                    <div class="c-nav__menu js-menu">
                        <ul class="c-nav__links">
                            <li>
                                <a href="#" data-target="#idea">IDEA</a>
                            </li>
                            
                            <li>
                                <a href="#" data-target="#dzialania-projektowe">Działania projektowe</a>
                            </li>
                            
                            <li>
                                <a href="#" data-target="#wydzial-polskich-marek">Wydział Polskich Marek</a>
                            </li>
                            
                            <li>
                                <a href="#" data-target="#autorzy">Autorzy</a>
                            </li>
                            
                            <li>
                                <a href="#" data-target="#partnerzy">Partnerzy</a>
                            </li>
                            
                            <li>
                                <a href="#" data-target="#kontakt">Kontakt</a>
                            </li>
                        </ul>
                        
                        <ul class="c-nav__authors">
                            <li>
                                <p class="o-label">Autor</p>
                                <img src=<%= require("./img/logotypes/bartek-kotowicz--white.svg") %> 
                                     width="123" height="16" alt="bartek kotowicz" />
                            </li>
                                                        
                            <li>
                                <p class="o-label">Współautor</p>
                                <img src=<%= require("./img/logotypes/hardziej-studio--white.svg") %> 
                                     width="148" height="35" alt="hardziej studio" />
                            </li>
                        </ul>
                        
                        <ul class="c-nav__authors c-nav__authors--contact">
                            <li>
                                <p class="o-label">Bartek Kotowicz</p>
                                <p class="o-big">
                                    <a href="mailto:bartek@brandingowy.pl">bartek@brandingowy.pl</a>
                                    <a href="tel:0048696263683">696-26-36-83</a>
                                </p>
                                <p class="o-medium">
                                    <a href="mailto:bartek@brandingowy.pl">bartek@brandingowy.pl</a>
                                </p>
                            </li>
                        </ul>
                        
                        <ul class="c-nav__authors c-nav__authors--organizer">
                            <li>
                                <p class="o-label">Organizator</p>
                                <img src=<%= require("./img/logotypes/ibra--white.svg") %> 
                                     width="119" height="36" alt="ibra" />
                            </li>
                            
                            <li>
                                <address>
                                    <p>Fundacja IBRA Instytut Brandingowy</p>
                                    <p>ul. Sobótki 4/17 | Gdańsk 80-247</p>
                                    <p class="no-wrap">NIP 9571132952 | KRS 0000896375</p>
                                    <p>28 1140 2004 0000 3402 8137 1152</p>
                                    <p>mBank</p>
                                </address>                                
                            </li>
                        </ul>   
                    </div>
                </nav>
