
    <div class="c-partners" id="partnerzy">
        <div class="o-scroll js-scroll">
            <p>logo</p>            
            <p>logo</p>
            <p>logo</p>
            <p>logo</p>
            <p>logo</p>
            <p>logo</p>
            <p>logo</p>
        </div> 
        
        <div class="o-cols">
            <div class="o-cols__item">
                <dl>
                    <dt class="js-fadeInChildren">
                        <h2>Zostań partnerem</h2>
                        <i class="icon-arrow"></i>
                    </dt>
                    <dd class="js-fadeInChildren">
                        <p>Polskie marki stanowią wyjątkowy nośnik masowej pamięci, skojarzeń i&nbsp;zachowań. Gospodarczy wymiar marek nie stoi jednak w&nbsp;sprzeczności z&nbsp;ich potencjałem kulturo - i&nbsp;społecznotwórczym.</p>
                        
                        <p>&nbsp;</p>

                        <p>Z racji tego, chcielibyśmy zaprosić wszystkie firmy oraz instytucje, którym idea popularyzacji polskiej kultury i&nbsp;gospodarki jest bliska, do współpracy przy naszym projekcie.</p>
                    
                    </dd>
                </dl>

                <div class="c-partners__logotypes c-partners__logotypes--desktop">
                    <ul class="js-logotypes">
                        <li>
                            <img src=<%= require("./img/logotypes/bartek-kotowicz.svg") %> width="180" height="23" alt="bartek kotowicz" />
                        </li>
                        
                        <li>
                            <img src=<%= require("./img/logotypes/hardziej-studio.svg") %> width="218" height="52" alt="hardziej studio" />
                        </li>
                        
                        <li>
                            <img src=<%= require("./img/logotypes/ibra.svg") %> width="155" height="46" alt="ibra" />
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="o-cols__item" id="kontakt">
                <blockquote class="js-fadeInChildren">
                    <p>Bartek Kotowicz</p>
                    <p><a href="mailto:bartek@brandingowy.pl">bartek@brandingowy.pl</a></p>
                    <p><a href="tel:696-26-36-83">696-26-36-83</a></p>
                </blockquote>
                
                <div class="o-article js-fadeInChildren">
                    <p>Fundacja IBRA</p>
                    <p>Instytut Brandingowy</p>
                    <p>ul. Sobótki 4/17</p>
                    <p>Gdańsk 80-247</p>
                    <p>NIP 9571132952</p>
                    <p>KRS 0000896375</p>
                    <p>28 1140 2004 0000 3402 8137 1152</p>
                    <p>mBank</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>
                        <a href="https://www.bradingowy.pl" target="_blank" rel="noopen">www.bradingowy.pl</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="c-partners__logotypes c-partners__logotypes--mobile"></div>
    </div>
