
        <div class="c-meta__topbar js-topbar">
            <div class="o-wrap--narrow">
                <a href="index.html" class="o-logo js-logo">
                    <img src=<%= require("./img/logotypes/126-polskich-marek.svg") %> width=262 height=40 alt="126 polskich marek" />
                </a>
                
                <% include nav %>
                
                <i class="o-hamburger js-hamburger"></i>
            </div>
        </div>
