
    <div class="c-training" id="wydzial-polskich-marek">
        <div class="o-wrap">
            <div class="o-scroll js-scroll">
                <p>Szkolenia</p>
                <p>Szkolenia</p>
                <p>Szkolenia</p>
                <p>Szkolenia</p>
                <p>Szkolenia</p>
            </div>        
        
            <article class="o-article js-fadeInChildren">
                <img src=<%= require("./img/logotypes/wydzial.svg") %> width="162" height="162" alt="wydział polskich marek" class="o-logo" />
                
                <h2>Na dobry początek – zaproszenie na <u>Wydział Polskich Marek</u>.</h2>
                
                <ul>
                    <li>2-dniowy sprint szkoleniowy</li>
                    <li>Tworzenie koncepcji i&nbsp;komunikacji wizualnej polskich marki.</li>
                    <li>Pierwszy taki warsztat w&nbsp;100% oparty na polskich studiach przypadku, znajomości lokalnego kontekstu i&nbsp;analizy krajowego brandingu.</li>
                </ul>
            </article>
            
            <div class="o-banner">
                <img data-srcset="<%=require("./img/training/szkolenia.webp")%> 1x, 
                             <%=require("./img/training/szkolenia@2x.webp")%> 2x" data-src=<%=require("./img/training/szkolenia.webp") %> 
                             class="lazy" width="1440" height="517" alt="szkolenia">
            </div>
            
            <article class="o-article js-fadeInChildren">                
                <h2>Najsłynniejsze polskie marki kryją cenne informacje:</h2>
                
                <ul>
                    <li>do wykorzystania “na już” w twojej organizacji.</li>
                    <li>korzystne dla prowadzonego przez Ciebie biznesu.</li>
                    <li>pomocne w&nbsp;pełnym spojrzeniu na kontekst, w&nbsp;którym marki funkcjonują</li>
                </ul>
            </article>
            
            <div class="c-training__details c-training__details--arrows js-fadeInChildren">
                <header>
                    <h2>Dla kogo?</h2>                
                </header>
                
                <ul class="js-fadeInChildren">
                    <li>marketerzy i&nbsp;brand-managerzy polskich marek</li>
                    <li>specjaliści&nbsp;PR</li>
                    <li>projektanci</li>
                    <li>copywriterzy</li>
                    <li>przedsiębiorcy, startup-owcy</li>
                </ul>
            </div>
            
            <div class="c-training__details c-training__details--price">
                <div class="o-cols">
                    <div class="o-cols__item js-fadeInChildren">
                        <header>
                            <h2>Cena</h2>                
                        </header>
                        
                        <div class="o-price">
                            <p class="no-wrap">1650 zł</p>
                            <p>netto</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item js-fadeInChildren">
                        <header>
                            <h2>W cenie</h2>                
                        </header>
                        
                        <p>16 godzin autorskiego szkolenia materiały szkoleniowe i&nbsp;prezentacja dostęp do zamkniętej grupy dyskusyjnej dyplom.</p>
                        
                        <p>&nbsp;</p>
                        
                        <p>15% zniżki na książkę 123&nbsp;polskich marek. Ikony swoich czasów.</p>
                    </div>
                </div>                
            </div>
            
            <div class="c-training__details c-training__details--deadlines">                
                <ul class="js-fadeInChildren">
                    <li>
                        <p>Zgłoszenia:</p> 
                        <p>do 30.04</p>
                    </li>
                    <li>
                        <p>Termin szkolenia:</p> 
                        <p>9-10.05</p>
                    </li>
                    <li>
                        <p>Miejsce szkolenia:</p> 
                        <p>Warszawa</p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Zapisz się!</a>
                        </p>
                        <p>
                            <i class="icon-arrow"></i>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
