<% include ./src/includes/head %>
<body>
<noscript>Your browser does not support JavaScript!</noscript>

    <% include ./src/includes/cover %>

<div class="o-container">
    <% include ./src/includes/meta %>
    <% include ./src/includes/idea %>
    <% include ./src/includes/cars %>
    <% include ./src/includes/activities %>
    <% include ./src/includes/training %>
    <% include ./src/includes/harmonogram %>
    <% include ./src/includes/authors %>
    <% include ./src/includes/social %>
    <% include ./src/includes/partners %>
    <% include ./src/includes/footer %>
</div>

</body>
</html>